<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-8  ">
            <h3 class=" text-center" id="contato">Entre em contato:</h3>
            <div class="card fundo">

                <div class="card-body">
                    <form id="form-contato">
                        <div class="form-group">

                            <label class="text-center" for="nome">Nome</label>
                            <input id="nome" class="form-control" name="nome" placeholder="Digite seu Nome" type="text"
                                required>
                            <div id="txtNome"></div>
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" class="form-control" name="email" placeholder="Digite seu E-mail"
                                type="email" required>
                            <div id="txtEmail"></div>
                        </div>

                        <div class="form-group">
                            <label for="mensagem">Mensagem</label>
                            <textarea id="mensagem" class="form-control" name="mensaegem"
                                placeholder="Digite sua mensagem" required>
                              </textarea>
                            <div id="txtMensagem"></div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit"
                                style="background-color: #8dba45;">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="img-bg"> </div>
    </div>
</div>