<!-- SOBRE NÓS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap"
  rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Poppins:wght@600&family=Roboto:wght@500&display=swap"
  rel="stylesheet">
<div class="container-fluid">
  <div class="row d-flex align-items-center">


    <div class="col-md-6">
      <h1 class="justify-content-center text-center mb-2 fo marca-cor ml-4" id="sobre" style="margin-right: 25px;">RANGO
        | <span style="color: #61156b;">PRATO</span>DES </h1>
      <p class="ml-4 text-justify" style="font-family: 'Poppins', sans-serif; font-size: 18px; margin-right: 25px;">
        Rango é uma rede social virtual, uma aplicação web lançada com uma licença open source, que impede restrições ao
        uso do software. Portanto, qualquer pessoa pode executar, estudar, modificar e redistribuir o código-fonte, que
        foi desenvolvido em linguagem Java. Uma plataforma construída para conectar pessoas às instituições do terceiro
        setor, no ciberespaço, estimulando o engajamento social no combate à fome, no alcance da segurança alimentar e
        promovendo a agricultura sustentável, numa realidade além-tela.
        Com uma estrutura baseada nos princípios do design responsivo, que consiste em adaptar o site ao browser do
        usuário sem que seja necessário definir várias folhas de estilos específicas para cada resolução,o layout fica
        fluido e varia de acordo com a resolução do usuário.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center" style="margin-left: 0px;  margin-bottom: 0px;">
      <img src="https://i.imgur.com/x98EiRU.png" alt="Imagem Ilustrativa">
    </div>
  </div>


  <!-- <div class="col-md-6 mt-3">
              <h1 class="text-center mb-2 text-success">ODS</h1>
              <p></p>
          </div> -->
</div>
<div class="container-fluid m-0">
  <div class="row d-flex align-items-stretch">
    <div class="col-md-6 text-align-center" style=" background-color:#61156b; color: #fff;">
      <h2 class="ml-5 text-justify " style=" font-family: 'Poppins', sans-serif; font-size: 18px;margin-top: 45px;">
        <img src="https://i.imgur.com/KsGqeF6.png" title="source: imgur.com" width="40px" height="40px" />
        OPEN SOURCE
      </h2>
      <h2 class="ml-5 text-justify " style=" font-family: 'Poppins', sans-serif; font-size: 18px;margin-top: 45px;">
        <img src="https://i.imgur.com/KsGqeF6.png" title="source: imgur.com" width="40px" height="40px" />
        DESIGN RESPONSIVO
      </h2>
      <!-- <h2 class="ml-5 text-justify " style=" font-family: 'Poppins', sans-serif; font-size: 18px;margin-top: 45px;">
        <img src="https://i.imgur.com/KsGqeF6.png" title="source: imgur.com" width="40px" height="40px" />
        CRIPTOGRAFIA
      </h2> -->
     <!--  <h2 class="ml-5 text-justify "
        style=" font-family: 'Poppins', sans-serif; font-size: 18px;margin-top: 45px;margin-right: 45px;">
        <img src="https://i.imgur.com/KsGqeF6.png" title="source: imgur.com" width="40px" height="40px" />
        MODERNO, SIMPLES E GRATUITO
      </h2> -->
      <h2 class="ml-5 text-justify " style=" font-family: 'Poppins', sans-serif; font-size: 18px;margin-top: 45px; margin-bottom: 45px;">
        <img src="https://i.imgur.com/KsGqeF6.png" title="source: imgur.com" width="40px" height="40px" />
        INICIATIVA 100% DIGITAL.
      </h2>



    </div>
    <div class="col-md-6 d-flex justify-content-center text-align-center" style="background-color: #8dba45;">
      <div class="text-align-center">
        <h2 style=" font-family: 'Poppins', sans-serif; font-size:150%;margin-top: 10%;margin-left: 15%;color: #fff;">Voluntariar-se nunca
          foi tão fácil.</h2>
         <h2 style=" font-family: 'Poppins', sans-serif; font-size: 150%;margin-top: 10%;margin-left: 15%;color: #fff;">Porque quem tem fome, tem pressa.
        </h2>
      </div>
      <div>
        <img style="margin-left: 30px;" src="https://i.imgur.com/ZvVgeDp.png" title="source: imgur.com" height="300px"
          width="192px" />
      </div>
    </div>



  </div>
</div>
<h1 class="text-center mb-2 marca-cor" style="color: #61156b; font-family: 'Poppins', sans-serif;"> CONECTAR PESSOAS,
  COMPARTILHAR IDEIAS
  <br>E ALIMENTAR O MUNDO
</h1>
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
      <a><img src="https://i.imgur.com/mUpfDep.png" title="source: imgur.com"
          width="250px" height="250px" /></a>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <a><img src="https://i.imgur.com/f44KfFq.png" title="source: imgur.com"
          width="250px" height="250px" /></a>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <a><img src="https://i.imgur.com/l0qEkfa.png" title="source: imgur.com"
          width="250px" height="250px" /></a>
    </div>
  </div>
</div>
<hr>
<div class="row mt-3 align-items-center">
  <div class="col-md-6">
    <h1 class="text-center mb-2 marca-cor" style="color: #61156b; font-family: 'Poppins', sans-serif;">  MAS, AFINAL, O QUE É UM ODS?
    </h1>

    <h4 class="text-center" style="color: #8dba45;">OBJETIVO DE DESENVOLVIMENTO SUSTENTÁVEL</h4>

    <p class="text-justify" style="font-family: 'Poppins', sans-serif; margin-left: 25px; margin-right: 25px;">Os 17
      Objetivos de Desenvolvimento Sustentável (ODS) foram
      estabelecidos pela Organização das Nações Unidas
      (ONU) em 2015 e compõem uma agenda mundial para a construção e implementação de políticas públicas que visam
      guiar a humanidade até 2030.
      A agenda contempla um plano de ação internacional para o alcance dos 17 ODS, desdobrados em 169 metas, que
      abordam diversos temas fundamentais para o desenvolvimento humano, em cinco perspectivas: pessoas, planeta,
      prosperidade, parceria e paz.
      Os 17 ODS envolvem temáticas diversificadas como erradicação da pobreza, segurança alimentar e agricultura,
      saúde, educação, igualdade de gênero, redução das desigualdades, energia, água e saneamento, padrões
      sustentáveis de produção e de consumo, mudança do clima, cidades sustentáveis, proteção e uso sustentável dos
      oceanos e dos ecossistemas terrestres, crescimento econômico inclusivo, infraestrutura e industrialização,
      governança, e meios de implementação.
    </p>
    <p class="d-flex justify-content-end" > <a class="saiba-mais"
      href="https://odsbrasil.gov.br/" style="font-size: 18px; margin-left: 25px; margin-right: 25px;" target="_blank">SAIBA MAIS <img src="https://i.imgur.com/wAKJD7Z.png" title="source: imgur.com" width="25px" height="25px"/> </a> </p>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
    <a href="https://imgur.com/dCSP0Ay"><img src="https://i.imgur.com/dCSP0Ay.png" title="source: imgur.com" width="525px" height="350px"/></a>
  </div>
</div>
<hr>
<h1 class="text-center d-flex justify-content-center marca-cor" style="font-size:36px ; color: #61156b; margin-left: 25px; margin-right: 25px;"> DESENVOLVEDORES</h1>
<div class="row d-flex justify-content-center">
  <div class="col-md-12">
    <app-desenvolvedores></app-desenvolvedores>
  </div>
</div>