<!-- SOBRE NÓS -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
</style>
<div class="container-fluid">
  <div class="row d-flex align-items-center">


    <div class="col-md-6">
      <h1 class="justify mb-2 fo marca-cor ml-5" id="sobre">RANGO | <span style="color: #61156b;">PRATO</span>DES </h1>
      <p class="ml-5 text-justify">
        Rango é uma rede social virtual, uma aplicação web lançada com uma licença open source, que impede restrições ao
        uso do software. Portanto, qualquer pessoa pode executar, estudar, modificar e redistribuir o código-fonte, que
        foi desenvolvido em linguagem Java. Uma plataforma construída para conectar pessoas às instituições do terceiro
        setor, no ciberespaço, estimulando o engajamento social no combate à fome, no alcance da segurança alimentar e
        promovendo a agricultura sustentável, numa realidade além-tela.
        Com uma estrutura baseada nos princípios do design responsivo, que consiste em adaptar o site ao browser do
        usuário sem que seja necessário definir várias folhas de estilos específicas para cada resolução,o layout fica
        fluido e varia de acordo com a resolução do usuário.
      </p>
    </div>
    <div class="col-md-6 mb-5">
      <img src="https://i.imgur.com/x98EiRU.png" alt="Imagem Ilustrativa">
    </div>
  </div>


  <!-- <div class="col-md-6 mt-3">
              <h1 class="text-center mb-2 text-success">ODS</h1>
              <p></p>
          </div> -->
</div>
<hr>
<div class="row mt-3">
  <div class="col-md-12">
    <h1 class="text-center mb-2 marca-cor" style="color: #61156b"> CONECTAR PESSOAS, COMPARTILHAR IDEIAS
      <br>E ALIMENTAR O MUNDO
    </h1>

    <h2 class="text-center">OBJETIVOS DE DESENVOLVIMENTO SUSTENTÁVEL</h2>

    <p>Os 17 Objetivos de Desenvolvimento Sustentável (ODS) foram estabelecidos pela Organização das Nações Unidas
      (ONU) em 2015 e compõem uma agenda mundial para a construção e implementação de políticas públicas que visam
      guiar a humanidade até 2030.
      A agenda contempla um plano de ação internacional para o alcance dos 17 ODS, desdobrados em 169 metas, que
      abordam diversos temas fundamentais para o desenvolvimento humano, em cinco perspectivas: pessoas, planeta,
      prosperidade, parceria e paz.
      Os 17 ODS envolvem temáticas diversificadas como erradicação da pobreza, segurança alimentar e agricultura,
      saúde, educação, igualdade de gênero, redução das desigualdades, energia, água e saneamento, padrões
      sustentáveis de produção e de consumo, mudança do clima, cidades sustentáveis, proteção e uso sustentável dos
      oceanos e dos ecossistemas terrestres, crescimento econômico inclusivo, infraestrutura e industrialização,
      governança, e meios de implementação.
    </p>
  </div>
  <div class="row mt-3">

  </div>
</div>
<hr>
<h1 class="text-center mb-2 marca-cor" style="color: #61156b;"> DESENVOLVEDORES</h1>
<div class="row d-flex justify-content-center">
  <div class="col-md-12">
    <app-desenvolvedores></app-desenvolvedores>
  </div>
</div>