<div class="row d-flex justify-content-center">



    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/Lk7Nqyf.jpg" title="source: imgur.com" />
                <img class="img img2" src="https://i.imgur.com/iGuaT2T.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">AMANDA</div>
        <p class="card-text marca-cor textojustificado">Sou uma química que encontrou na área da Tecnologia novos
            caminhos para o conhecimento. Gosto muito de apredender e de novos desafios. Fui inspirada por mulheres, que
            atuam na área da Tecnologia, a mudar de carreira e espero um dia poder fazer o mesmo por outras mulheres.
        </p>
        <div class="title">Desenvolvedora Full-stack</div>
        <br>
        <div class="d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/amanda-noyori/
                  " target="_blank"><img class="mr-6" src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px"
                    width="30px" style="margin-right: 25px;"></a>
            <a href="Amandinha: https://github.com/anoyori
                    " target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub" height="30px" width="30px"></a>
        </div>
    </div>
    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/gYrVa99.jpg" title="source: imgur.com" />
                <img class="img img2" src="https://i.imgur.com/cgui4RK.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">JÉSSIKA</div>
        <p class="card-text marca-cor textojustificado">Nascida no Caparaó Capixaba e formada em Biologia, transicionei
            de
            estado e, agora, em São Paulo, numa pandemia, me desafiei na Programação, com muito amor, dedicação e
            trabalho
            em equipe. Além de todas as habilidade técnicas, desde lógica de programação até Angular, me sinto
            preparadada
            para cada desafio diário desse mundo.</p>
        <div class="title">Desenvolvedora Full-Stack</div>
        <br>
        <div class=" d-flex justify-content-center">
            <a href=" https://www.linkedin.com/in/jessika-cunha/
                " target="_blank"><img class="mr-6" src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px"
                    width="30px" style="margin-right: 25px;"></a>
            <a href="https://github.com/jesskcunha" target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub"
                    height="30px" width="30px" style="margin-right: 25px;"></a>
        </div>
    </div>
    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/Lk7Nqyf.jpg" title="source: imgur.com" />
                <img class="img img3" src="https://i.imgur.com/z6oNsPD.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">JONATHAN</div>
        <p class="card-text marca-cor textojustificado">Com 23 anos me considero adptável às mudanças. Fui da área da
            Logística por mais de 3 anos e, hoje, estou formado como Desenvolvedor Web Java Jr. Tenho facínio em
            aprender
            coisas novas, adquirindo novas experiências e sempre me atualizando com estudos tecnológicos</p>
        <div class="title">Desenvolvedor Fulls-stack</div>
        <br>
        <div class=" d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/jonathan-ribeiro-dos-santos-0160a4157/" target="_blank"><img class="mr-6"
                    src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px" width="30px" style="margin-right: 25px;"></a>
            <a href="https://github.com/jonathan-rSantos" target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub"
                    height="30px" width="30px" style="margin-right: 25px;"></a>
        </div>
    </div>
</div>
<br>
<div class="row d-flex justify-content-around">
    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/gYrVa99.jpg" title="source: imgur.com" />
                <img class="img img3" src="https://i.imgur.com/AnhMoBn.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">MAYARA</div>
        <p class="card-text marca-cor textojustificado">Tenho 22 anos e, apesar da idade, faço de tudo um pouco, desde
            Arte
            à Tecnologia. Não há nada neste mundo que eu determinei que não consigo. Tudo é questão da importância e da
            sua
            vontade. Nesta nova missão, o mar da Tecnologia, onde eu ainda estou na maré, mas irei bem fundo.</p>
        <div class="title">Desenvolvedora Full-stack</div>
        <br>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/mayara-dantas-616967190/" target="_blank"><img class="mr-6"
                    src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px" width="30px" style="margin-right: 25px;"></a>
            <a href="https://github.com/MayaraDantas" target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub"
                    height="30px" width="30px"  style="margin-right: 25px;"></a>
        </div>
    </div>
    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/Lk7Nqyf.jpg" title="source: imgur.com" />
                <img class="img img3" src="https://i.imgur.com/xaPOm6q.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">SAMUEL</div>
        <p class="card-text marca-cor textojustificado">Criado na periferia, construí as minhas perpectivas a partir de
            uma
            ótica criativa, talvez como forma de negação à realidade periférica, que é tão desigual e violenta. Um
            amante de
            tecnologias disruptiva e incremental e, acima disso, das relações humanas. Graduando em Letras Português e
            Espanhol, pela Unidesidade Federal de São Paulo </p>
        <div class="title">Desenvolvedor Full-Stack</div>
        <br>
        <div class=" d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/samuel-de-brito-santos/" target="_blank"><img class="mr-6"
                    src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px" width="30px" style="margin-right: 25px;"></a>
            <a href="https://github.com/coder-samuel" target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub"
                    height="30px" width="30px" style="margin-right: 25px;"></a>
        </div>
    </div>

    <div class="person col-md-4">
        <div class="container-img">
            <div class="container-inner">
                <img class="circle" src="https://i.imgur.com/gYrVa99.jpg" title="source: imgur.com" />
                <img class="img img2" src="https://i.imgur.com/ctCmQ8u.png" title="source: imgur.com" />
            </div>
        </div>
        <div class="divider"></div>
        <div class="name">THAIS</div>
        <p class="card-text marca-cor textojustificado">Sou uma mulher persistente e resiliente que não desiste em
            meio as dificuldades. Nutricionista por formação, no meio de um cenário pandêmico, precisei me
            reinventar e me reencontrei na Tecnologia. Atualmente estou em processo de transição de carreira para
            área de desenvolvimento em Java.</p>
        <div class="title">Desenvolvedora Full-Stack</div>
        <br>
        <div class=" d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/thais-bar%C3%A3o-honorato-b3a4a2182/" target="_blank"><img class="mr-6"
                    src="https://i.imgur.com/YTkyKMc.png" alt="Ícone Linkedin" height="30px" width="30px" style="margin-right: 25px;"></a>
            <a href="https://github.com/thaisbaraoh" target="_blank"><img src="https://i.imgur.com/QhFysNE.png" alt="Ícone gitHub"
                    height="30px" width="30px" style="margin-right: 25px;"></a>
        </div>
    </div>
</div>