.color-danger{
    background-color: #e09be9;
    color: black;
}

.color-succces{
    background-color: #8dba45;
    color: black;
}

.color-info{
    background-color: #e09be9;
    color: black;
}

