
#img-bg{
    background-image: url('https://i.imgur.com/i0uREMi.jpg%27');
    image-rendering: optimizeQuality;
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.glass{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;

}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.vert-center{
    margin-top: 100px;
}